* {
    margin: 0;
    padding: 0;
}

#header {
    width: 100vw;
    height: 88.91px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

#footer {
    width: 100vw;
    height: 247.65px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

#footer-container {
    width: 1100px;
    height: 147.65px;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;

}

#footer-upperbox {
    width: 1100px;
    height: 121px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#additional-inf {
    width: 1033px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.compound-boxes {
    width: 159px;
    height: 22px;
    margin-left: 30px;
    margin-bottom: 10px;
}

#big-logo {
    display: inline-block;
    width: 120px;
    height: 39px;
}


#footer-lowerbox {
    width: 1100px;
    height: 21.4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.compound-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-betweens;
}

.little-icons {
    width: 15px;
    height: 20px;
}

.header-allinbox {
    width: 1100px;
    height: 88.91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;

}

.header-longline {
    width: 1200.34px;
    height: 38.91px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

#longerline-front {
    width: 745.34px;
    height: 38.91px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#longerline-end {
    width: 270.52px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#calendar {
    gap: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

#calendar-icon {
    display: flex;
    align-items: center;
}

#dollar-icon {
    display: flex;
    align-items: center;
}

#weather {
    gap: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

#currency-rate {
    gap: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

.horizontal-rectangle {
    gap: 9px;
}

#narrowline-front {
    width: 580px;
    height: 20px;
}

#narrowline-end {
    width: 580px;
    height: 21.4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

#copyright {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;

}

#big-logo {
    width: 119px;
    height: 38.91px;
}

.nav-horizantalbuttons {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}



#dollar-button {
    font-size: 16px;
    color: #2adb00;
}

.numbers {
    font-size: 18px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.horizontal-rectangle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fotgotten {
    rotate: 90deg;
}

.medee {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#longerline-end {
    display: flex;
    align-items: center;
}

.gogo-bulan {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.uzeh {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.hew-mayg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.rectange {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.hidden-medee {
    display: none;
    position: absolute;
    top: 100px;
    justify-content: space-around;
}

.medee:hover+.hidden-medee {
    display: block;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: row;

}

.hidden-bulan {
    display: none;
    position: absolute;
    top: 100px;
    justify-content: space-around;
}

.gogo-bulan:hover+.hidden-bulan {
    display: block;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: row;
}

.hidden-texts {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
}



/* First Section */

#first-section {
    margin-top: 15px;
    width: 1115px;
    height: 761px;
    display: flex;
    flex-direction: column;
}

#firstsection-upperbody {
    width: 1114px;
    height: 385px;
    display: flex;
    flex-direction: row;

}

#fs-upperboddy-front {
    width: 607.5px;
    height: 325px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-left: 20px;
}

#fs-upperboddy-front-1 {}

#fs-upperbody-button {
    width: 73.02px;
    height: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 12PX;
    font-family: "Open Sans", sans-serif;
    border-radius: 18px;
    background-image: linear-gradient(to right, red, rgb(238, 211, 93));
    border: none;
    transition: 0.3s;

}

#fs-upperbody-button:hover {
    width: 80px;
    transition-timing-function: linear;
}




#fs-upperboddy-front-2 {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 30px;
    width: 502.5px;
    height: 154px;
}

#fs-upperboddy-front-2paragraph {
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: 600;
}

#fs-upperboddy-front-3paragraph {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: 600;
}

#fs-upperboddy-front-3 {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 502.5px;
    height: 60px;

}

#fs-upperboddy-front-4 {
    margin-top: 30px;
    width: 60px;
    height: 36px;
    display: flex;
    align-items: cener;
}

#fs-upperbody-button2 {
    background-color: #F0EFEF;
    width: 70.35px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    transition: 0.5s;
}

#fs-upperbody-button2:hover {
    width: 90px;
    transform: linear;
    transition: 0.1s;
}

#share-button:hover {
    transform: rotate(45deg);
}

#share-button {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    color: #c6c6c6;
}

#fs-upperbody-end {
    width: 542.5px;
    height: 385px;
    overflow: hidden;
    border-radius: 10px;
    position: relative
}

#firstsection-bigimg {
    width: 542.5px;
    height: 385px;
    border-radius: 10px;
    transition: 0.3s;
}

#firstsection-bigimg:hover {
    transform: scale(1.1);

}

#hidden-text-fs-bigimg {
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
}

#hidden-text {
    opacity: 1;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.#fs-upperbody-end:hover .hidden-text-fs-bigimg {
    display: absolute;
    opacity: 0.4;
}


#firstsection-lowerbody {
    width: 1200px;
    height: 385px;
    margin-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.fs-lowerbodysections {
    width: 263.75px;
    height: 283px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.fs-lowerbodyphotos {
    width: 263px;
    height: 175px;
    border-radius: 8px;
}

#fs-uniqueimg {
    width: 263px;
    height: 270px;
    border-radius: 8px;
}

.fs-lowerboddy-p {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}

.fs-lowerboddy-p-container {
    width: 263.75px;
    height: 66px;
    margin-top: 10px;
}

.fssharelike-section {
    height: 22px;
    width: 263.75px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.fs-lowerbody-sharebox {
    width: 31.07px;
    height: 22px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fs-lowerbody-commentbox {
    width: 34.69px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.commentbutton {
    width: 13px;
    height: 11.91px;
}



.numbersofreach {
    font-size: 13px;
    color: #8E8E8E;
}




/* Second section */


#ss-allinbox {
    height: 280.5px;
    width: 1100px;
    padding-left: 40px;
    padding-right: 40px;
}

#ss-titlebox {
    width: 1100px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#ss-mainbodybox {
    margin-top: 20px;
    height: 235px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#ss-titleheading {
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: 600;
}

#ss-titlestory {
    background-color: #00b0f4;
    border-radius: 3px;
    color: #fff;
    width: 69px;
    height: 25.5px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.ss-storycontainer {
    width: 170.8px;
    height: 235px;
}

.ss-storyimages {
    width: 170.8px;
    height: 235px;
    border-radius: 5px;
    width: 100%;
    transition: all .3s ease-in;
}


/* Third section */

#ts-allinbox {
    width: 1100px;
    height: 3040.37px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
}

#ts-column1 {
    width: 690px;
    height: 2970.37px;
    display: flex;
    flex-direction: column;
}

#ts-column1-titlebox {
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 30px;
}

#ts-column1-today {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#onoodor {
    font-size: 16px;
    color: #407ce8;
    font-weight: bold;
}


#ts-column2 {
    width: 290px;
    padding-left: 120px;
    height: 2970.37px;
}

#onoodor {
    font-family: "Open Sans", sans-serif;
}

.ts-datetext-container {
    width: 103.81px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ts-datetext {
    font: 13px;
    color: #B7B6B6;

}

.calendar-budget {
    width: 103.81px;
    height: 7px;
    background-color: #EFEFEF;
    border-radius: 20px;
}

.ts-calendar-generalbox {
    width: 118.81px;
    height: 29px;
    display: flex;
    flex-direction: column;
}

#ts-column2-title {
    width: 290px;
    height: 30.33px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#ts-column2-heading {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

#ts-column1-latesnews {
    width: 690px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.ts-column1-imgs {
    width: 210px;
    height: 150px;
    border-radius: 8px;
}

.ts-column1-newsheading {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-left: 30px;
    height: 150px;
}

.ts-column1-newsbigheading {
    width: 450px;
    height: 52px;
    font-family: "Open Sans", sans-serif;
}

.ts-column1-newssubheading {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
}

.ts-column1-newsreach {
    width: 450px;
    height: 22px;
    display: flex;
    flex-direction: row;
}

.ts-column1-newsbigheading-p {
    font-size: 19px;
    color: #000000;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.ts-column1-newssubheading-p {
    font-size: 14px;
    color: #888888;
    font-family: "Open Sans", sans-serif;

}

.ts-column1-newsreach-share {
    width: 29.57px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-right: 30px;
}

.ts-column1-newsreach-time {
    display: flex;
    flex-direction: row;
    height: 22px;
    width: 200px;
    align-items: center;
    gap: 8px;
}

.ts-column1-newsreachnumbers {
    font-size: 14px;
    color: #888888;

}

#ts-column1-endbox {
    width: 670px;
    height: 35.67px;
    padding: 20px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ts-column1-endbox-p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #000000;
    gap: 5px;
}

.ts-column2-highlightnews {
    width: 290px;
    height: 265px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}


.ts-column2-highlightnews-heading {
    width: 290px;
    height: 40px;
    margin-top: 10px;
}

.ts-column2-highlightnews-reach {
    width: 290px;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.ts-column2-newsimgs {
    width: 290px;
    height: 170px;
    border-radius: 8px;
}

.ts-column2-news-heading {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}


.ts-column2-highlightnews-comment {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.ts-column2-highlightnews-time {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.ts-column2-highlightnews-reach {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.ts-column2-newsreachnumbers {
    font-size: 12px;

    color: #888888;
    font-family: "Open Sans", sans-serif;
}

#ts-column2-trendnews-titlebox {
    width: 240px;
    height: 28.3px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #eeede7;
}

#ts-column2-trendnews-titlebox-p {
    font-size: 20px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
}

#ts-column2-trendnewsbody {
    padding-left: 50px;
    padding-right: 50px;
    width: 240px;
    height: 1480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eeede7;
}

.ts-column2-trendnews-parts {
    width: 270px;
    height: 114px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.ts-column2-trendnews-parts-numberscontainer {
    width: 25.58px;
    height: 113px;
    margin-right: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ts-column2-trendnews-parts-numbers {
    font-size: 46px;
    font-family: "Open Sans", sans-serif;
    color: #E00034;
    font-weight: 600;
}

.ts-column2-trendnews-parts-paragraphcontainer {
    width: 229px;
    height: 113px;
    display: flex;
    flex-direction: column;
}

.ts-column2-trendnews-parts-heading {
    width: 229px;
    height: 88px;
}

.ts-column2-trendnews-parts-heading-p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #000000;
}

.ts-column2-trendnews-parts-details {
    margin-top: 5px;
    width: 229px;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.ts-column2-trendnews-parts-details-share {
    height: 20px;
    width: 50px;
}

.ts-column2-trendnews-parts-details-time {
    height: 20px;
    width: 150px;
}


.ts-sharebutton {
    width: 12px;
    height: 12px;
    color: #888888;
}

.ts-column2-trendnews-parts-details-numbers {
    font-size: 12px;
    color: #888888;
    font-family: "Open Sans", sans-serif;
}

.ts-column2-trendnews-parts-details-share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.ts-column2-trendnews-parts-details-time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Fourts section */


#fourthsection-allinbox {
    width: 1100px;
    height: 548px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

#fs-maintitle {
    width: 1100px;
    margin-bottom: 20px;
    height: 27.83px;
    display: flex;
    align-items: center;
    gap: 8px;
}

#fs-mainbody {
    width: 1100px;
    height: 542.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#fs-title-para {
    font-size: 20px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

#fs-mainbody-part1 {
    width: 542px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

#fs-mainbody-part2 {
    width: 557px;
    height: 501px;
    display: flex;
    flex-direction: row;

}

#fs-mainbody-part1-img {
    width: 542px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

#fs-mainbody-part1-img:hover {
    transform: scale(1.1);
}

.fs-mainbody-part2-boxes {
    width: 278.25px;
    height: 502px;
    flex-direction: column;
    padding-left: 15px;


}

.fs-mainbody-part2-imgsbox {
    width: 263.75px;
    height: 243px;
    border-radius: 8px;
    overflow: hidden;
}

.fs-mainbody-part2-imgs {
    width: 263.75px;
    height: 243px;
    border-radius: 8px;
    object-fit: cover;
    transition: 0.3s;
}

.fs-mainbody-part2-imgs:hover {
    transform: scale(1.1);
}

/* Fifts section */

#fifthsection-allinbox {
    width: 1100px;
    height: 405.5px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}



#fifthsection-mainheading {
    width: 1100px;
    height: 25.5px;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

#fifthsection-mainheading-p {
    font-size: 26px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

#fifthsection-mainheading-button {
    font-size: 18px;
    background-color: #00B0f4;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    border-radius: 4px;
    border: none;
}

#fifthsection-mainbody {
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 360px;
}

.fifths-bodyboxes {
    height: 360px;
    width: 263.5px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;

}



.fifths-bodyimg-boxes {
    width: 263.75px;
    height: 230px;
    border-radius: 4px;
}

.fifths-bodyimgs {
    width: 263.75px;
    height: 230px;
    border-radius: 4px;
    object-fit: cover;
}

.fifths-bodydetail-boxes {
    width: 243.75px;
    height: 120px;
    padding: 10px;

}

.fifths-bodydetail-pbox {
    width: 241.75px;
    height: 72px;

}

.fifths-bodydetail-reachbox {
    height: 21px;
    width: 241.75px;
    padding-top: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.fifths-bodydetail-sharebox {
    margin-right: 30px;
    width: 35.36px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.fifths-bodydetail-commentbox {
    margin-right: 30px;
    width: 22.02px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.fifths-bodydetail-p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: 600;
}

.fifths-bodydetail-reach-numbers {
    font-size: 12px;
    color: #888888;
    font-size: "Open Sans", sans-serif;
}

/* Sixth section */

#sixthsection-allinbox {
    display: flex;
    flex-direction: column;
}

#sixthsection-mainheading {
    height: 27.83px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

#sixthsection-mainheading-p {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: 600;
}

#sixthsection-mainbody {
    width: 1100px;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.sixths-bodyboxes {
    width: 263.75px;
    height: 300px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}

.sixthths-bodyimg-boxes {
    width: 263.75px;
    height: 170px;
    border-radius: 4px;
}

.sixths-bodyimgs {
    width: 263.75px;
    height: 170px;
    border-radius: 4px;
    object-fit: cover;
}

.sixth-body-detail-box {
        width: 243.75px;
        height: 120px;
        padding: 10px;
}

/* Seventh section */

#seventhsection-allinbox {
    width: 1100px;
    padding-left: 40px;
    padding-right: 40px;
    height: 378px;
    display: flex;
    flex-direction: column;
}

#seventhsection-maintitle {
    width: 1100px;
    height: 28.83px;
    margin-bottom: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#seventhsection-title-p {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: bold;
}